<body>
  <div id="div1">
  <h3>LEAVE MANAGEMENT SYSTEM</h3>
  </div>
  <nav>
    <div class="nav-left">
    <a routerLink="home">Home</a>
  </div>
  <div >
    <a routerLink="aboutus">About us</a>
  </div>
  <div>
    <a routerLink="login">Login</a>
  </div>
  <div>
    <a routerLink="signin">signin</a>
  </div>
  <div>
    <a routerLink="addemployee">Add employee</a>
  </div>
  <div>
    <a routerLink="viewemployee">Viewemployee</a>
  </div>
  <div>
    <a routerLink="cart">Leave Cart</a>
  </div>
  
  </nav>
</body>
<router-outlet></router-outlet>