body{
    background-image: url('https://img.freepik.com/free-photo/top-view-desk-concept-with-copy-space_23-2148236856.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
    
#div1{
    background-color: rgb(228, 151, 151);
    width: 100%;
    padding: 25px;
}
h3{
    color: aliceblue;
}
nav {
    margin-top: 1%;
    padding: 1%;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-around; /* Distributes items evenly */
    align-items: center; /* Vertically centers items within the nav */
}

/* Example styles for the navigation items */
nav a {
    color: white; /* Example text color */
    text-decoration: none; /* Remove underlines from links */
    padding: 10px; /* Add some padding for better spacing */
    
}
 nav a:hover{
    background-color: aquamarine;
}
